{
  "presets": [
	"es2015",
	"stage-3",
	"stage-0",
	"react"
  ],
  "compact": "false",
  "plugins": [
	"transform-decorators-legacy",
	["transform-runtime", {
	  "polyfill": false
	}]
  ],
  "env": {
	"development": {
	  "presets": [],
	  "plugins": []
	},
	"production": {
	  "presets": [],
	  "plugins": []
	}
  }
}