runtime = electron
target = 1.7.6
target_arch = x64
disturl = https://atom.io/download/atom-shell
# brave_electron_version = 4.1.7
# disturl = http://brave-laptop-binaries.s3.amazonaws.com/atom-shell/dist/
openssl_dir = /usr/local/ssl