@import "../../styles/common.sass"

.page
    height: 100%
    display: flex
    flex-direction: column
    align-items: stretch
    align-content: stretch

.content
    padding: 32px 32px 0 32px;
    height: 100%;

.footer
    padding: 24px;