* {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

.content {
    padding: 30px;
    height: 100%;
    /*background: #77D042;*/
}

.footer {
    padding: 30px;
}

.btn {
    font-size: 12px;
    height: 32px;
    font-weight: normal;
    padding: 0 20px;
    border-radius: 3px;
    border-width: 0;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    color: white;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.6;
}

.accept {
    color: white;
    border-color: #91ca3f;
    background: #91ca3f;
}

.accept:focus {
    outline: none;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
}

.about_text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 64px);
    padding-right: 10px;
    font-size: 16px;
}

a {
    color: #4DA3FC;
}

.about_icon {
    display: inline-block;
    vertical-align: top;
    width: 64px;
}

.about {
    font-size: 0;
}

#pin {
    font-size: 0;
    margin-top: 40px;
}

#pin div {
    border: 1px solid rgba(151, 161, 169, 0.4);
    border-radius: 3px;
    height: 38px;
    width: 34px;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #282E32;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

#pin div:first-child {
    margin-left: 0;
}

#input_pin {
    font-size: 24px;
    margin-top: 10px;
    outline: none;
    padding: 0 10px;
    border-radius: 2px;
}

.message-box {
    display: flex;
}

.message-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 128px;
    min-height: 100px;
    padding-right: 32px;
}

.message-text {
    overflow-y: auto;
    overflow-wrap: break-word;
}