@import '../styles/global.variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  text-size-adjust: none;
  font-family: var(--peculiar-font-family);
  color: rgb(var(--peculiar-color-dark-rgb));
  background: rgb(var(--peculiar-color-light-rgb));
  font-size: 15px;
  line-height: 1.6;
  min-width: 1200px;
  overflow-x: hidden;
}

body,
html {
  height: 100%
}

img {
  display: block;
  max-width: 100%
}

a {
  color: rgb(var(--peculiar-color-primary-rgb));
  text-decoration: none;
}

input {
  width: 100%;
  height: 36px;
  padding: 0 16px;
  border-radius: 2px;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background: none;
}

.button_primary {
  height: 36px;
  line-height: 36px;
  color: rgb(var(--peculiar-color-light-rgb));
  border-radius: 2px;
  padding: 0 16px;
  background: linear-gradient(180deg, #4DA3FC 0%, #027EFF 100%);
  display: inline-block;

  a {
    color: inherit;
  }
}

ul {
  list-style-type: none;
}

ol {
  list-style-position: inside;
}

.intro {
  margin-bottom: 1.2em;
}

.intro code {
  font-weight: 500
}

.intro strong {
  font-weight: 500;
  color: rgb(var(--peculiar-color-dark-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -.03em;
  line-height: 1.1;
}

h1 {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.825rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.15rem;
}

h5,
h6 {
  font-size: 1rem;
}

code {
  color: rgb(var(--peculiar-color-dark-rgb));
  font-family: var(--peculiar-code-font-family);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  padding: 4px 6px;
  white-space: pre-wrap;
  border-radius: 2px;
}

pre {
  line-height: 1.2;
  margin: 2rem 0;
  overflow: auto;
  padding: 20px;
  background-color: rgb(var(--peculiar-color-grey-1-rgb));
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 13px;
  padding: 0;
  white-space: inherit
}

table {
  width: 100%
}

table,
td,
th {
  border-collapse: collapse;
}

iframe {
  width: 100%;
  background-color: rgb(var(--peculiar-color-grey-1-rgb));
  box-shadow: 10px 10px 20px rgba(0,0,0,.1);
  margin: 2em 0;
}

video {
  width: 100%;
  display: block;
}

.max_width {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  width: 100%;
}
