$dark: #40484f !default;
$grey-1: #FAF9F9 !default;
$grey-2: #EEF4F7 !default;
$grey-3: #E1E4E6 !default;
$grey-4: #B6C3CC !default;
$grey-5: #6D7D87 !default;
$light: #ffffff !default;
$secondary: #0abe65 !default;
$primary: #0680ff !default;
$attention: #F7A831 !default;
$wrong: #CD463F !default;

// Default Colors
$colors: (
  dark: $dark,
  grey-1: $grey-1,
  grey-2: $grey-2,
  grey-3: $grey-3,
  grey-4: $grey-4,
  grey-5: $grey-5,
  light: $light,
  secondary: $secondary,
  primary: $primary,
  attention: $attention,
  wrong: $wrong,
) !default;
