doc-menu {
  display: block;
  background: rgb(var(--peculiar-color-grey-2-rgb));
  border-right: 1px solid rgb(var(--peculiar-color-grey-3-rgb));
  position: fixed;
  top: var(--header-height);
  width: var(--menu-width);
  left: 0;
  height: calc(100% - var(--header-height));
  z-index: 1;
  padding: 65px 40px 20px;
}
