doc-page {
  display: block;
  margin-top: var(--header-height);
  margin-left: var(--menu-width);
  padding: 0 130px;

  p {
    color: rgb(var(--peculiar-color-grey-5-rgb));
    margin: 1em 0;
  }

  ol,
  ul {
    padding-left: 2em;
    margin: 1em 0;
    list-style-type: disc;
  }

  h1 {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2,
  h3 {
    margin-bottom: .2em;
  }

  h2+h3,
  h3+h4 {
    margin-top: -1em;
  }

  h2+p>small,
  h3+p>small,
  h4+p>small {
    display: block;
    margin-top: -2em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 2em;

    a[href^="#"] {
      color: inherit;
      position: relative;

      &:before {
        content: "#";
        opacity: 0;
        padding-right: 5px;
        position: absolute;
        right: 100%;
        transition: opacity 100ms ease;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}
