app-footer {
  display: block;
  position: relative;
  z-index: 2;
  color: rgba(var(--peculiar-color-light-rgb), 0.5);

  footer {
    background: #282E32;
    padding: 82px 0 102px;
  }

  .info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    margin-right: 20px;
  }

  .logo_item {
    display: inline-block;
    vertical-align: top;

    + .logo_item {
      margin-left: 20px;
    }
  }

  .nav_item {
    display: inline-block;
    vertical-align: top;

    + .nav_item {
      margin-left: 20px;
    }
  }

  .link {
    color: inherit;
  }
}
