name: Create installers and draft release

on:
  push:
    branches:
      - master
      - canary
      - prepare-sign-artifacts

jobs:
  macos:
    runs-on: macos-10.15
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare app repository
        uses: ./.github/actions/prepare-app-repo
      - name: Prepare fortify-setup repository
        uses: ./.github/actions/prepare-fortify-setup-repo
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      - name: Create installer
        run: npm run build --prefix ./fortify-setup
        env:
          APP_REPO_FOLDER: ../
          RELEASE_FOLDER: ../release
      - name: Sign data
        run: npm run sign_data
        env:
          PRIVATE_KEY_BASE64: ${{ secrets.PRIVATE_KEY_BASE64 }}
          PUBLIC_KEY_BASE64: ${{ secrets.PUBLIC_KEY_BASE64 }}
          OUTPUT_FOLDER_PATH: ./release
      - name: Archive build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: |
            ./release/*.jws
            ./release/*.pkg

  ubuntu:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install OS dependencies
        run: sudo apt-get install libpcsclite-dev
      - name: Prepare app repository
        uses: ./.github/actions/prepare-app-repo
      - name: Prepare fortify-setup repository
        uses: ./.github/actions/prepare-fortify-setup-repo
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      - name: Create installer
        run: npm run build --prefix ./fortify-setup
        env:
          APP_REPO_FOLDER: ../
          RELEASE_FOLDER: ../release
      - name: Archive build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: ./release/*.deb

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [x86, x64]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v1
      - name: Setup NuGet.exe for use with actions
        uses: nuget/setup-nuget@v1.0.5
      - name: Prepare app repository
        uses: ./.github/actions/prepare-app-repo
      - name: Prepare fortify-setup repository
        uses: ./.github/actions/prepare-fortify-setup-repo
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      - name: Create installer
        run: npm run build --prefix ./fortify-setup
        env:
          Platform: ${{ matrix.platform }}
          APP_REPO_FOLDER: ../
          RELEASE_FOLDER: ../release
      - name: Archive build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: ./release/*.msi

  create_release:
    name: Prepare and create draft  release
    runs-on: ubuntu-18.04
    needs: [macos, ubuntu, windows]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v1
        with:
          name: artifacts
      - name: Create draft release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Draft release ${{ github.ref }}
          draft: true
          prerelease: false
      - name: Get artifact names
        id: getfilename
        run: |
          echo "::set-output name=pkgName::$(ls artifacts/*.pkg | cut -d'/' -f2)"
          echo "::set-output name=debName::$(ls artifacts/*.deb | cut -d'/' -f2)"
          echo "::set-output name=msi64Name::$(ls artifacts/*x64*.msi | cut -d'/' -f2)"
          echo "::set-output name=msi86Name::$(ls artifacts/*x86*.msi | cut -d'/' -f2)"

      - name: Upload .pkg
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/${{ steps.getfilename.outputs.pkgName }}
          asset_name: ${{ steps.getfilename.outputs.pkgName }}
          asset_content_type: application/octet-stream

      - name: Upload .deb
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/${{ steps.getfilename.outputs.debName }}
          asset_name: ${{ steps.getfilename.outputs.debName }}
          asset_content_type: application/octet-stream

      - name: Upload .msi (x64)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/${{ steps.getfilename.outputs.msi64Name }}
          asset_name: ${{ steps.getfilename.outputs.msi64Name }}
          asset_content_type: application/octet-stream

      - name: Upload .msi (x86)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/${{ steps.getfilename.outputs.msi86Name }}
          asset_name: ${{ steps.getfilename.outputs.msi86Name }}
          asset_content_type: application/octet-stream

      - name: Upload update.jws
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/update.jws
          asset_name: update.jws
          asset_content_type: application/jose

      - name: Upload card.jws
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/card.jws
          asset_name: card.jws
          asset_content_type: application/jose
